server:
  port: 8765

spring:
  application:
    name: api-gateway-service

  config:
    import: 'consul:'

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        hostname: localhost
        port: ${server.port}
        register-health-check: false
        # health-check-path: /actuator/health
        # health-check-interval: 10s
      config:
        format: YAML
        enabled: true
        fail-fast: true
        defaultContext: application
